 
 body {
    background-image: url(https://images.pexels.com/photos/3591074/pexels-photo-3591074.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-color: #6C8BA7;
    font-family: 'Bonheur Royale', cursive;
    font-size: larger;
 }

 p {
   font-size: xx-large ;
 }